@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input class="form-control" name="cityName" id="cityName" />
<button id="get-weather">Get Weather</button>
<div>
    <div class="weather">


    </div>
</div>

@*<form action="CitySearch" class="display-names">
    <h1>Get Weather Conditions From Anywhere!</h1>
    <label for="cityName">Enter a location:</label>
    <input type="text" name="cityName">
    <button type="submit">Search</button>
</form>
<div class="names"></div>*@